@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Saira+Extra+Condensed:wght@300&family=Shrikhand&display=swap');

.font-shrikhand {
  font-family: 'Shrikhand', cursive;
}
.font-noto-sans-tc {
  font-family: 'Noto Sans TC', sans-serif;
}

.font-saira-extraCondensed {
  font-family: 'Saira Extra Condensed', sans-serif;
}