.font-shrikhand {
  font-family: 'Shrikhand', cursive;
}
.font-noto-sans-tc {
  font-family: 'Noto Sans TC', sans-serif;
}

.font-saira-extraCondensed {
  font-family: 'Saira Extra Condensed', sans-serif;
}