<div style="background: #e9e2f3">
  <div class="container">
    <div class="custom-container text-tertiary pt-21 pt-xxl-23 pb-17 pb-xxl-24">
      <h2 class="fs-4 fs-xxl-3 fw-black letter-spacing-1">FAQ</h2>
      <div class="border-top border-white border-2 grid mt-7 mt-xxl-23" style="--bs-border-style: dotted">
        <ul class="faq-menu list-unstyled g-col-12 g-col-xxl-4 mt-5 mt-xxl-6">
          <li class="mb-4">
            <label for="faqQ1" class="w-100 position-relative">
              ALPHABOX+ 使用問題
              <input type="radio" name="faqQ" id="faqQ1" class="position-absolute top-0 end-0" checked>
            </label>
          </li>
          <li class="mb-4">
            <label for="faqQ2" class="w-100 position-relative">
              訂購與運送
              <input type="radio" name="faqQ" id="faqQ2" class="position-absolute top-0 end-0">
            </label>
          </li>
          <li class="position-relative">
            <label for="faqQ3" class="w-100 position-relative">
              產品保養與維修
              <input type="radio" name="faqQ" id="faqQ3" class="position-absolute top-0 end-0">
            </label>
          </li>
        </ul>
        <ul class="list-unstyled g-col-12 g-col-xxl-8 mt-5 mt-xxl-0">
          <li class="collapse-area grid border-top border-top-xxl-0 border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">ALPHABOX+ 的使用方式是什麼？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ1" role="button" aria-expanded="false" aria-controls="collapseFAQ1">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ1">
              首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
            </p>
          </li>
          <li class="collapse-area grid border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">ALPHABOX+ 需要什麼樣的環境來使用？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ2" role="button" aria-expanded="false" aria-controls="collapseFAQ2">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ2">資料建置中．．．</p>
          </li>
          <li class="collapse-area grid border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">ALPHABOX+ 支援哪些語言？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ3" role="button" aria-expanded="false" aria-controls="collapseFAQ3">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ3">資料建置中．．．</p>
          </li>
          <li class="collapse-area grid border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">ALPHABOX+ 的軟體更新方式為何？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ4" role="button" aria-expanded="false" aria-controls="collapseFAQ4">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ4">資料建置中．．．</p>
          </li>
          <li class="collapse-area grid border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">購買 ALPHABOX+ 後的售後服務如何？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ5" role="button" aria-expanded="false" aria-controls="collapseFAQ5">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ5">資料建置中．．．</p>
          </li>
          <li class="collapse-area grid border-bottom border-2 border-white">
            <h3 class="g-col-11 g-col-xxl-9 fs-9 mt-6 mt-xxl-7">ALPHABOX+ 與其他智能家居設備的相容性如何？</h3>
            <a class="g-col-1 g-col-xxl-3 justify-self-end justify-self-xxl-start mt-5 mt-xxl-6 collapsed position-relative" data-bs-toggle="collapse" href="#collapseFAQ6" role="button" aria-expanded="false" aria-controls="collapseFAQ6">
              <img src="../assets/images/add.png" class="add position-absolute top-0 start-0 opacity-100" alt="add"/>
              <img src="../assets/images/remove.png" class="remove position-absolute top-0 start-0 opacity-0" alt="remove"/>
            </a>
            <p class="g-col-12 g-col-xxl-9 collapse fw-normal mb-5 mb-xxl-7" id="collapseFAQ6">資料建置中．．．</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
