<footer class="p-7 px-xxl-0 py-xxl-8">
  <div class="container">
    <div class="custom-container text-black">
      <div class="d-flex flex-column flex-xxl-row justify-content-between align-items-xxl-center">
        <div id="js-moveCopyRight">
          <p class="font-shrikhand fs-5 align-self-end">ALPHABOX+</p>
        </div>
        <img src="../assets/images/emergency.png" class="mt-2 mt-xxl-0" style="filter: brightness(0);" width="80" alt="emergency">
        <ul class="list-unstyled d-flex flex-column flex-xxl-row">
          <li class="mt-2 mt-xxl-0 me-5"><a href="#" class="text-inherit d-block">關於我們</a></li>
          <li class="mt-2 mt-xxl-0 me-5"><a href="#" class="text-inherit d-block">產品資訊</a></li>
          <li class="mt-2 mt-xxl-0 me-5"><a href="#" class="text-inherit d-block">常見問題</a></li>
          <li class="mt-2 mt-xxl-0"><a href="#" class="text-inherit d-block">隱私政策</a></li>
        </ul>
        <p class="fw-bold mt-2 mt-xxl-0">Copyright © 2023 Hexschool.</p>
      </div>
    </div>
  </div>
</footer>
